html {
    scroll-behavior: smooth
}

body {
    width: 1000px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit
}

pre {
    margin: 0
}

@media (max-width: 1050px) {
    body {
        width: 100%
    }
}

section {
    margin: 0 0 30px 0;
}

.title {
    margin: 0 0 10px 0;
    font-size: 28px;
    line-height: 100%;
}

.text {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 120%;
}

.text-ul {
    padding: 0 0 0 20px;
}

.text-li {
    list-style-type: disc;
}

.text a {
    color: inherit;
}

.text_bold {
    font-weight: 600;
}

.code {
    width: 100%;
    font-family: 'Fira Code', monospace;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
}

.header__nav {

}

@media (max-width: 600px) {
    .header__nav {
        display: none;
    }
}

.header__nav-menu {
    display: flex;
    margin: 0;
}

.header__menu-item {
    margin: 0 30px 0 0;
    font-size: 18px;
    line-height: 120%;
    box-sizing: border-box;
    list-style-type: none;
    cursor: pointer;
}

.header__menu-item a {
    color: black;
    text-decoration: none;
}

.header__menu-item:last-of-type {
    margin-right: 0;
}

.header__burger-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    background-color: white;
    padding: 25px;
    box-shadow: 4px 24px 85px -5px rgb(34 60 80 / 18%);
    z-index: 10000
}

@media (min-width: 600px) {
    .header__burger-nav {
        display: none;
    }
}

.header__burger-nav_disabled {
    display: none;
}

.header__burger-nav-menu {
    margin: 0;
    padding: 0
}

.header__burger-nav-menu-item {
    padding: 0;
    margin: 10px 0;
    list-style-type: none;
}

.header__burger-nav-menu-item a {
    padding: 0;
    margin: 10px 0;
    color: black;
    text-decoration: none;
}

.header__burger-button {
    height: 35px;
    width: 35px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.header__burger-close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0
}

@media (min-width: 600px) {
    .header__burger-button {
        display: none;
    }
}


.cv {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: 
        "main aside";
    gap: 30px;
    width: 100%;
    padding: 0 25px 25px;
    box-sizing: border-box;
    align-items: start;    
}

@media (max-width: 900px) {
    .cv {
        grid-template-columns: 1fr 250px;   
    }
}

@media (max-width: 600px) {
    .cv {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "main"
            "aside"
            "footer"; 
    }
}

.info {
    display: flex;
}

@media (max-width: 900px) {
    .info {
        flex-direction: column;
    }
}

.info__image {
    margin: 0 30px 0 0;
    border-radius: 1000px;
}

.info__name {
    font-size: 48px;
    line-height: 100%;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.info__about {
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.projects {
    grid-area: aside;
    padding: 25px;
    border-radius: 10px;
    background-color: #000000;
    box-sizing: border-box;
}

.projects .title {
    color: white;
    margin: 0 0 20px 0
}

.projects .text {
    color: white
}

.projects__item {
    width: 100%;
    text-align: left;
    margin: 0 0 20px 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.projects__item:hover {
    background-color: #ffe2e2;
}

.projects__title {
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.projects__description {
    font-size: 14px;
    line-height: 120%;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.projects__tehnologies-container {
    display: flex;
}

.projects__tehnologies-item {
    font-size: 12px;
    color: #ffffff;
    line-height: 100%;
    font-weight: 600;
    margin: 0 10px 10px 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #ff0000;
    border-radius: 3px;
}

.projects__preview {
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.footer {
    grid-area: footer;
    display: flex;
    width: 100%;
    padding: 0 25px 25px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright-container {
    display: flex;
    flex-direction: column;
}

.footer__copyright {
    font-size: 18px;
    line-height: 120%;
    font-weight: 600;
    margin: 0
}

.footer__copyright a {
    color: #000000;
    text-decoration: none;
}